* {
    box-sizing: border-box;
}

/* ***************
    TAGS
***************** */

body {
    background-color: #1f3e3e;
    color: white;
    font-family: 'Goudy Old Style', 'Candara Light', 'Bell MT', Times, serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #FFCCCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    font-size: 2em;
    margin-top: 0;
}

h2 {
    color: #FAE1DF;
    text-decoration: none;
}

nav {
    background-color: #1f3e3e;
}

/* ***************
    CLASSES
***************** */

.contact-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 60px;
}

.contact-container img {
    width: 50%;
    border-radius: 5px;
    filter: drop-shadow(0px 17px 14px #0d1f2d);
}

.contact-post {
    display: flex;
    justify-content: space-between;
}

.brand-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-bottom: 60px;
    margin-top: 60px;
}

.col1 {
    margin-right: 80px;
}

.col1>a,
.col2>a {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Goudy Old Style', 'Candara Light', 'Bell MT', Times, serif;
}

.dropbtn {
    background-color: transparent;
    padding: 0;
    color: #FFCCCC;
    font-size: medium;
    margin-right: 60px;
    border: none;
    cursor: pointer;
    font-family: 'Goudy Old Style', 'Candara Light', 'Bell MT', Times, serif;
}

.dropbtn:hover {
    color: #FAE1DF;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFCCCC;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: #1f3e3e;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #1f3e3e;
}

.dropdown-content :hover {
    background-color: #9ea3b0
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

.foot-links {
    display: flex;
    justify-content: center;
}

.foot-links a {
    text-decoration: none;
    color: #1f3e3e;
    display: block;
}

.foot-logo {
    width: 250px;
    display: block;
}

.footer-subscribe>p {
    color: #1f3e3e;
    font-size: 2em;
}

.footer-subscribe>input {
    border: 1.5px solid #0d1f2d;
    border-radius: 5px;
    padding: 8px;
    font-size: 15px;
    background-color: #f9efee;
    color: #0d1f2d;
}

.footer-subscribe>button {
    border: 1.5px solid #0d1f2d;
    background-color: #0d1f2d;
    border-radius: 5px;
    color: #FFCCCC;
    font-size: 15px;
    padding: 8px;
}

.footer-subscribe>img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    margin-top: 2em;
}

.navbar {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.navbar>a {
    color: #FFCCCC;
    text-decoration: none;
    margin-right: 60px;
}

.navbar a:hover {
    color: #FAE1DF;
}

.search {
    background-color: transparent;
    border: none;
    color: white;
    float: right;
}

.search:focus {
    outline: none;
    font-size: larger;
}

.text {
    margin-right: 40px;
    text-align: justify;
    margin-bottom: 40px;
    font-size: 15px;
    font-family: 'Goudy Old Style', 'Candara Light', 'Bell MT', Times, serif;
    line-height: 1.5;
}

.text>input {
    border: 1.5px solid #0d1f2d;
    border-radius: 5px;
    padding: 16px;
    width: 400px;
    background-color: #f9efee;
    color: #0d1f2d;
    margin-right: 100px;
    margin-bottom: 40px;
    font-size: 15px;
    font-family: 'Goudy Old Style', 'Candara Light', 'Bell MT', Times, serif;
    line-height: 1.5;
}

.text .message {
    height: 200px;
    font-size: 15px;
    font-family: 'Goudy Old Style', 'Candara Light', 'Bell MT', Times, serif;
    line-height: 1.5;
}

.text>button {
    border: 1.5px solid #0d1f2d;
    background-color: #0d1f2d;
    border-radius: 5px;
    padding: 12px 20px;
    color: #FFCCCC;
    font-size: 15px;
    cursor: pointer;
    width: 400px;
}

.text>button:hover {
    background-color: #FFCCCC;
    color: #0d1f2d;
}

textarea {
    width: 400px;
    padding: 16px;
    border-radius: 5px;
    border: 1.5px solid #0d1f2d;
    background-color: #f9efee;
    color: #0d1f2d;
    margin-right: 100px;
    margin-bottom: 40px;
    resize: vertical;
}

.footer-subscribe>button:hover {
    background-color: #314949;
    color: #FFCCCC;
}